@import "../../styles/mixins.scss";
@import "../../styles//colors.scss";
.container {
  @include container;
  .breadcrumbs {
  }
  .title_of_page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      h1 {
        @include font-h1-light-bold-title;
      }
    }
  }

  .basic_contant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
