@import "../../../styles/mixins.scss";
@import "../../../styles//colors.scss";

.divs_with_sort {
  display: flex;
  margin-top: 3px;
  margin-left: 5px;

  @include mobile_320 {
    display: none;
  }

  .button_with_type {
    width: 100px;
    height: 70px;
    padding: 18px 19px;
    box-sizing: border-box;
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    margin-right: 11px;
    @include font-p-regular-400;
    cursor: pointer;
  }
}
