@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";

h3 {
  @include font-regular-h3;
  margin: 0;
}

p {
  font-weight: 300;
  font-size: 12px;
  margin: 0;
}
.header {
  width: 1920px;
  @include mobile_320 {
    width: 320px;
    display: flex;
    flex-direction: column-reverse;
  }
}
