@import "../../../styles/mixins.scss";
@import "../../../styles//colors.scss";

.container {
  position: relative;
  top: -50px;
  right: -1100px;
  width: 320px;

  @include mobile_320 {
    display: block;
    left: 0;
    top: 20px;
  }
  .sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    .sort_title {
      @include font-regular-for-title-card;
      margin-right: 5px;
    }

    select {
      border: 0;
      @include font-p-light-bold;
      color: $base-black;
      outline: none;
    }
  }
}
