.footer {
  width: 1920px;
  margin: 0 auto;
  background-color: #3f4e65;
  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
}
@media screen and (max-width: 320px) {
  .footer {
    width: 320px;
  }
}
.footer .container {
  width: 1366px;
  margin: 0 auto;
  display: flex;
  padding-top: 71px;
}
@media screen and (max-width: 320px) {
  .footer .container {
    width: 290px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "logo logo " "menu categories" "contacts messengers";
  }
}
.footer .container .logo {
  width: 320px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 320px) {
  .footer .container .logo {
    padding-top: 15px;
    grid-area: logo;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
.footer .container .logo img {
  width: 156px;
  height: 66px;
  margin-bottom: 15px;
}
@media screen and (max-width: 320px) {
  .footer .container .logo img {
    width: 97px;
    height: 41px;
  }
}
.footer .container .logo p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
}
@media screen and (max-width: 320px) {
  .footer .container .logo p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    margin-top: 15px;
  }
}
.footer .container .logo .subscribe {
  margin-top: 45px;
}
@media screen and (max-width: 320px) {
  .footer .container .logo .subscribe {
    margin-top: 15px;
  }
}
.footer .container .logo .email {
  margin-top: 14px;
  text-align: left;
}
.footer .container .logo .email input {
  width: 282px;
  height: 59px;
  background: #ededed;
  border-radius: 36px;
  border: 0;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.035em;
  padding: 21px 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 320px) {
  .footer .container .logo .email input {
    width: 290px;
    height: 59px;
  }
}
.footer .container .logo .email .send_button {
  background: #ffc85e;
  border-radius: 79px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  border: 0;
  box-sizing: border-box;
  text-align: left;
  width: 39px;
  height: 39px;
  position: relative;
  top: -50px;
  right: -220px;
}
.footer .container .logo .email .send_button:after {
  position: absolute;
  content: "";
  width: 8px;
  height: 15px;
  top: 12px;
  left: 16px;
  background-image: url("../../images/icons/arrow_right.svg");
}
@media screen and (max-width: 320px) {
  .footer .container .logo .email .send_button::after {
    left: 15px;
  }
}
.footer .container .menu,
.footer .container .categories,
.footer .container .contacts {
  margin-right: 95px;
}
@media screen and (max-width: 320px) {
  .footer .container .menu,
.footer .container .categories,
.footer .container .contacts {
    width: 130px;
    margin-right: 0px;
  }
}
.footer .container .menu h1,
.footer .container .categories h1,
.footer .container .contacts h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-align: left;
}
.footer .container .menu p,
.footer .container .categories p,
.footer .container .contacts p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 20px;
  text-align: left;
}
@media screen and (max-width: 320px) {
  .footer .container .menu p,
.footer .container .categories p,
.footer .container .contacts p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    text-align: left;
    margin-top: 20px;
  }
}
.footer .container .menu {
  width: 130px;
}
@media screen and (max-width: 320px) {
  .footer .container .menu {
    height: 210px;
    grid-area: menu;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
@media screen and (max-width: 320px) {
  .footer .container .categories {
    width: 150px;
    height: 210px;
    grid-area: categories;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
  }
}
.footer .container .contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 320px) {
  .footer .container .contacts {
    width: 152px;
    grid-area: contacts;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.footer .container .contacts h3 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  color: white;
  margin-top: 25px;
}
.footer .container .contacts p {
  margin: 5px 0;
}
@media screen and (max-width: 320px) {
  .footer .container .contacts p {
    font-weight: 300;
    font-size: 12px;
    margin-top: -3px;
  }
}
.footer .container .contacts .subtext {
  margin-top: -3px;
}
@media screen and (max-width: 320px) {
  .footer .container .contacts .time_of_work {
    margin-top: 5px;
  }
}
.footer .container .contacts a {
  font-family: "Inter";
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: white;
  margin-bottom: 15px;
}
@media screen and (max-width: 320px) {
  .footer .container .contacts a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 300;
    margin-top: 5px;
  }
}
.footer .container .contacts .cards {
  display: flex;
  margin-top: 10px;
}
.footer .container .contacts .cards img {
  height: 39px;
  margin-right: 5.06px;
}
.footer .container .connection_in_Messengers .price_list {
  width: 209px;
  margin-right: 95px;
  margin-bottom: 20px;
}
@media screen and (max-width: 320px) {
  .footer .container .connection_in_Messengers .price_list {
    display: none;
  }
}
.footer .container .connection_in_Messengers .price_list h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.footer .container .connection_in_Messengers .price_list .price_list_button {
  background: #ffc85e;
  border-radius: 79px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  border: 0;
  box-sizing: border-box;
  text-align: left;
  width: 214px;
  height: 59px;
  position: relative;
  letter-spacing: 0.03em;
  padding: 23px 79.5px 21px 50.5px;
}
.footer .container .connection_in_Messengers .price_list .price_list_button:after {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  top: 21px;
  right: 43.5px;
  background-image: url("../../images/icons/icon-download.png");
}
@media screen and (max-width: 320px) {
  .footer .container .connection_in_Messengers {
    grid-area: messengers;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
  }
}
.footer .container .connection_in_Messengers p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  width: 163px;
  text-align: left;
}
@media screen and (max-width: 320px) {
  .footer .container .connection_in_Messengers p {
    width: 110px;
    margin-top: 60px;
  }
}
.footer .container .connection_in_Messengers .icons {
  text-align: left;
  margin-top: 17px;
}
.footer .container .connection_in_Messengers .icons img {
  margin-right: 10px;
  width: 39px;
  height: 39px;
}/*# sourceMappingURL=index.module.css.map */