@import "../../../../styles/mixins.scss";
@import "../../../../styles//colors.scss";

.container {
  margin-top: 30px;
  .title {
    @include font-regular-for-title-card;
    text-align: left;
    margin: 0;
  }

  .search {
    text-align: left;
    @include mobile_320 {
      width: 140px;
      margin-left: 0;
    }

    input {
      width: 238px;
      height: 59px;
      background: #ededed;
      border-radius: 36px;
      border: 0;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.035em;
      padding: 21px 20px;
      box-sizing: border-box;
      margin: 15px 0;
      @include mobile_320 {
        display: none;
      }
    }

    .search_button {
      @include yellow-button;
      width: 39px;
      height: 39px;
      position: relative;
      top: -4px;
      right: 49px;
      &:after {
        position: absolute;
        content: "";
        width: 18.35px;
        height: 18.35px;
        top: 11.47px;
        left: 11.47px;
        background-image: url("../../../../images/icons/icons_search.png");
      }
      @include mobile_320 {
        display: none;
      }
    }
    .search_button_mobile {
      display: none;
      @include mobile_320 {
        display: block;
        position: relative;
        @include mobile-button;
        width: 140px;
        height: 40px;
        top: 0;
        right: 0;

        @include font-p-mobile;
        padding: 13px 53px;
        &:after {
          position: absolute;
          content: "";
          width: 15px;
          height: 15px;
          top: 11.47px;
          left: 20px;
          background-image: url("../../../../images/icons/search-mobile.png");
        }
      }
    }
  }
  .manufacture_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .checkbox_div {
      display: flex;
      align-items: center;
      // margin-top: 1px;
      input[type="checkbox" i] {
        margin: 7px 5px 5px 0;
      }
    }
  }
  .show_all_no_active,
  .show_all_active {
    position: relative;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin-top: 15px;
    margin-left: -5px;
    &::after {
      position: absolute;
      content: "";
      right: -5px;
      top: 5px;
      width: 7px;
      height: 7px;
      background-image: url("../../../../images/icons/triangle.svg");
    }
  }

  .show_all_active {
    &::after {
      transform: rotate(0deg);
    }
  }

  .show_all_no_active {
    &::after {
      transform: rotate(180deg);
    }
  }
}
