@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";

.bread_crumbs {
  width: 1920px;
  @include mobile_320 {
    width: 320px;
  }

  .container {
    @include container;
    @include mobile_320 {
      width: 290px;
    }
    .breadcrumbs {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 44px;
      p {
        margin-left: 2px;
        margin-right: 20px;
        position: relative;
        @include font-p-light-for-card;
        &:not(:last-child)::after {
          position: absolute;
          content: "";
          width: 0px;
          height: 18px;
          top: 0px;
          right: -11px;

          border: 1px dashed #3f4e65;
        }
      }
      div {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
